---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Service from "@/components/icons/service.astro"
---
<Layout
    title="Servicios de Santiago"
    description="Conoce todos los servicios que Santiago, un desarrollador de software con +2 años de experiencia, tiene para ofrecerte">

    <SectionContainer class="pt-36" >
        <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Service class="size-16 fill-current dark:stroke-1 " />
        Servicios
      </h2>
    </SectionContainer>
</Layout>