---
const personalImageAlt = "Miguel Ángel";

const a = `¡Hola! Soy Santiago, un desarrollador web de Colombia con más de 2 años de experiencia. Me especializo en tecnologías web, especialmente en React. En mi tiempo como desarrollador, he trabajado en proyectos emocionantes y desafiantes.

Mi enfoque es convertir ideas creativas en código funcional. Además, tengo experiencia en ventas de soluciones tecnológicas, lo que me brinda una perspectiva única en el desarrollo de aplicaciones prácticas y comerciales.

Creo en la honestidad y la transparencia. Cuando trabajo en proyectos, me esfuerzo por compartir historias y experiencias reales que muestren no solo mis habilidades técnicas, sino también mi dedicación y pasión por lo que hago.

Estoy emocionado por lo que viene y ansioso por seguir contribuyendo al mundo del desarrollo web. ¡Hagamos cosas increíbles juntos!`;
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-indigo-400 dark:[&>p>strong]:text-yellow-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Santiago, un desarrollador web de Colombia con <strong
        >más de 2 años de experiencia</strong
      >. Me especializo en tecnologías web como React. En mi tiempo
      como desarrollador, he trabajado en multiples proyectos emocionantes y desafiantes.
    </p>

    <p>
      Mi enfoque es convertir ideas creativas en código funcional. Además, tengo
      experiencia en <strong>ventas de soluciones tecnológicas</strong>, lo que
      me brinda una perspectiva única en el desarrollo de aplicaciones prácticas
      y comerciales.
    </p>

    <p>
      Cuando trabajo en proyectos, me esfuerzo por compartir historias y
      experiencias reales que muestren no solo mis habilidades técnicas, sino
      también <strong>mi dedicación y pasión por lo que hago.</strong>
    </p>
    <p>
      Estoy emocionado por lo que viene y ansioso por seguir contribuyendo al
      mundo del desarrollo web. ¡Hagamos cosas increíbles juntos!`;
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/chill.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
