---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: " Junio 2021 - Julio 2022",
    title: "Emprendimiento en creación de páginas web.",
    company: "SG Studio",
    description:"Durante mi emprendimiento, destaqué por construir sitios eficientes, mejorar el reconocimiento de marca, e implementar soluciones innovadoras. Mi enfoque abarcó desde el desarrollo técnico hasta la generación de oportunidades comerciales, demostrando versatilidad en diversas áreas digitales.",
    link: "mailto:santiagocolombiahoy@gmail.com",
  },
  {
    date: "Octubre 2022 - Noviembre 2022",
    title: "Proyecto de reconocimiento y clasificación por IA.",
    company: "Proyectos USA",
    description:
      "Durante el proyecto de reconocimiento de imagen por IA , lideré la implementación de herramientas de reconocimiento visual de Google en una página web para clasificar objetos. Utilicé habilidades en JavaScript para colaborar eficientemente en equipo. Además, logré el acceso a una webcam desde el sitio web para procesar videos y categorizar objetos en tiempo real, así como procesar archivos de imagen mediante la vista por computadora para su clasificación según contenido.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
